.header {
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  background: $darkPurple;

  .container {
    padding: 50px;
    display: flex;
    justify-content: space-between;
  }

  &__logo {

    img {
      position: absolute;
      height: 50px;
      top: 15px;
    }
  }

  &__links {
    position: absolute;
    display: flex;
    left: 550px;
    top: 24px;

    a {
      text-decoration: none;
      color: $white;
      padding: 0 25px;
      margin-left: 10px;
      
      font-style: normal;
      font-weight: normal;
      font-size: $font-med;
      line-height: 30px;
      border-radius: 5px;
      background-color: $lightPurple;
    }

    a:hover {
      background-color: $happyBlue;
    }
  }

  // .flag {
  //   position: absolute;
  //   left: 1130px;
  //   top: 38.5px;
  //   margin: 0 auto;

  //   a {
  //     text-decoration: none;
  //   }
  // }

  // &__menu {
  //   position: absolute;
  //   width: 768px;
  //   height: 29px;
  //   left: 336px;
  //   top: 25px;
  // }
}