body {
  font-family: 'Roboto Mono', monospace, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: calc(10px + 0.33vw);
  -webkit-font-smoothing: antialiased;
  padding: 5vh 10vw;
  color: #222;
}

ul {
  list-style-type: none;
  text-align: center;
}

li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  color: #333;
  border: 1px solid #8a2ce2;
  border-radius: 5px;
  padding: 5px 10px;
}

ul li a:hover {
  background-color: #8a2ce2;
  color: #fff;
  transition: 800ms;
}

/* .my-photo {
  display: block;
  width: 250px;
  height: 250px;
  margin: 10px auto;
  padding: 6px;
  border: 2px solid #8a2ce2;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, .4);
} */

h1 {
  font-size: 3.5em;
  font-weight: 500;
  margin-bottom: 0;
}

p {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.4;
  max-width: 26em;
}

a {
  text-decoration: none;
  color: #222;
  position: relative;
  border-bottom: 2px solid #8a2ce2;
  font-weight: 500;
}

p>a:hover {
  background-color: #8a2ce2;
  color: #fff;
  transition: 500ms;
}

div>a:hover {
  background-color: #8a2ce2;
  color: #fff;
  transition: 500ms;
}
